#navbar-1{
    background-color: rgb(7, 7, 36);
    color: white;
    position: fixed;
    list-style-type: none;
    width: 100%;
    top: 0px;
    padding: 0px;
}

.blank-box {
  border-bottom: solid;
  border-color:rgb(84, 189, 183);
  border-width: 1px;
  position:fixed;
  margin-top: 45px;
  background-color: white;
}

.nav{
    color: white;
    font-size: 20px;
}

.nav-l li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

.nav-r li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
.nav-r {
      float: right
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

a:link {
    text-decoration: none;
  }

.nav:hover {
  color:rgb(127, 255, 249);
}
  
.logo { 
    max-width: 10%;  
    text-align: left;
    }  

 .pic {
  height: 100px; 
  padding-top: 120px;
  padding-right: 20px;
  padding-bottom: 10px;
  float:left;
 }
 
.title {
   padding-top: 140px;
   padding-bottom: 200px;
   font-size: 30px;
 }

#experience {
   color:rgb(84, 189, 183);
   font-size:20px;
 }

.container-1 {
  align-self: center;
  padding-left: 5%;
  padding-right: 5%;
}

.side {
  float:left;
  padding-right:100px;
  margin-bottom: 100%;
  padding-top: 20px;
  font-size:20px;
  color: black;
  font-style: none;
}

a.sidebar:visited{
  color: black;
  
}
ul.side-bar {
  padding-bottom: 20px;
}
  